*{
    margin:0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: #e9edc9;
}

h1{
    background-color: #b8c0ff;
    color: #3a0ca3;
    height: 4rem;
    line-height: 4rem;

}
.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #f72585;
    cursor: pointer;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 4rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}
#msg{
  
    font-size: 2rem;
    background-color:pink;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

